<!DOCTYPE html>
<html>
<head>
    <title>Default</title>
</head>
<body>
    <form method="post" action="~/Names.cshtml">
        <label for="name">Imie:</label><br>
        <input name="name" id="name" type="text" />
        <input type="submit" id="send" value="Ustaw" asp-page-handler="Name" />
    </form>
</body>
</html>
